{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blogpage.css'%}">
</head>
<body>
    <h1>BLOGS</h1>
    <a href="http://127.0.0.1:8000/home" class="hi">home</a>

    {% for post in posts%}
    <div class="bord">
        <h2>{{post.title}}</h2>
        <h3>{{post.Author}}</h3>
        <p>{{post.Content}}</p>
        {% if post.IMG %}
            <img src="{{post.IMG.url}}" >
        {% endif %}
    </div>
    {% endfor %} 
</body>
</html>
